.body{
    background: url(/assets/IMG/movieBackground.jpg);
    width: fit-content;
    height: fit-content;
}

h2{
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow:hidden;
    color: white;
    padding-left:15px;
    max-width: 1000px;
}

img{
    float: left;
    width: 300px;
    height: 400px;
    display: flex;
}

.underBody{
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    width: 150px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: rgb(0, 101, 253);
    color: white;
}