<header class="header-nav">
    <form [formGroup]="loginForm" (submit)="login()" autocomplete="new-password">
      <h1>Login</h1>
    
      <div clas="form-control">
        <label for="username">Username</label>
        <input id="username" type="text" formControlName="username">
      </div>
    
      <div clas="form-control">
        <label for="password">Password</label>
        <input id="password" autocomplete="new-password" type="password" fromControlName="password">
      </div>
      <br>
    
      <button type="submit" id="btn" (click)="GetUser()">Login &#8594;</button>

      Don't have an account? <a routerLink="/register">Register</a>
    
    </form>
    </header>