<mat-card class="mb-4 container">
    <div class="row-container">
        <!-- First row -->
        <div class="row">
            <div *ngFor="let movie of firstHalfMovies" class="element-wrapper">
                <div class="element">
                    <img class="posters" [src]="movie.Poster" alt="{{ movie.Title }} poster">
                    <h2>{{ movie.Title }}</h2>
                </div>
            </div>
        </div>
        <!-- Second row -->
        <div class="row">
            <div *ngFor="let movie of secondHalfMovies" class="element-wrapper">
                <div class="element">
                    <img class="posters" [src]="movie.Poster" alt="{{ movie.Title }} poster">
                    <h2>{{ movie.Title }}</h2>
                </div>
            </div>
        </div>
    </div>    
</mat-card>

<div class="pagination-buttons">
    <button class="btn btn-primary" [disabled]="currentPage === 1" (click)="onPrevPage()">Previous</button>
    <button class="btn btn-primary" [disabled]="isLastPage()" (click)="onNextPage()">Next</button>
    <span id="pageNumber">page {{ currentPage }}</span>
</div>