<mat-card class="mb-4 container">
    <div class="middle">
        <div *ngFor="let movie of movieData" class="element-wrapper">
            <div class="element">
                <img class="posters" [src]="movie.Poster" alt="{{ movie.Title }} poster">
                <h2>{{ movie.Title }}</h2>
            </div>
            <button class="btn btn-primary" id="addtolist" (click)="AddedToList()">Add to list</button>
            <button class="btn btn-primary" id="Infolist" (click)="InfoAboutMovie();">Info</button>
        </div>
    </div>
</mat-card>