.container{
    display: flex;
}

.element{
    background-color: rgb(189, 168, 194);
    width: 100%;
    box-shadow: 0 0 30px rgba(255, 0, 179, 0.685);
    display: flex;
    justify-content: flex-start;
    border-radius: 10px;
    align-items: center;
}

.row-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60vw;
    height: 75vh;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.element-wrapper {
    margin-top: 3.5vh;
    display: flex;
    align-items: center;
    width: 30vw;
    height: 17%;
    max-height: 17%;
    min-height: 17%;
}



#addtolist{
    --bs-btn-bg: rgb(0, 163, 0); 
    --bs-btn-hover-bg: rgb(0, 94, 0);
}

#Infolist{
    --bs-btn-bg: rgb(105, 105, 105); 
    --bs-btn-hover-bg: rgb(70, 70, 70);
}

button{
    width: 150px;
    height: 40px;
    margin-left: 20px;
}

h1{
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-left: 3%;
}

img{
    display: flex;
    width: 120px;
    height: auto;
    max-height: 15vh;
    border-radius: 10px;
}

#pageNumber{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    margin-top: -4vh;
    color: rgb(252, 79, 174);
    font-weight: bold;
}
