<mat-card class="mb-4 container">
    <div class="middle">
        <div class="element-wrapper">
            <div class="element"></div>
            <button class="btn btn-primary" id="addtolist" (click)="AddedToList()">Add to list</button>
            <button class="btn btn-primary" id="Infolist" (click)="InfoAboutMovie(); APIMoviehandler()">Info</button>
        </div>
        <div class="element-wrapper">
            <div class="element"></div>
            <button class="btn btn-primary" id="addtolist" (click)="AddedToList()">Add to list</button>
            <button class="btn btn-primary" id="Infolist" (click)="InfoAboutMovie()">Info</button>
        </div>
        <div class="element-wrapper">
            <div class="element"></div>
            <button class="btn btn-primary" id="addtolist" (click)="AddedToList()">Add to list</button>
            <button class="btn btn-primary" id="Infolist" (click)="InfoAboutMovie()">Info</button>
        </div>
        <div class="element-wrapper">
            <div class="element"></div>
            <button class="btn btn-primary" id="addtolist" (click)="AddedToList()">Add to list</button>
            <button class="btn btn-primary" id="Infolist" (click)="InfoAboutMovie()">Info</button>
        </div>
        <div class="element-wrapper">
            <div class="element"></div>
            <button class="btn btn-primary" id="addtolist" (click)="AddedToList()">Add to list</button>
            <button class="btn btn-primary" id="Infolist" (click)="InfoAboutMovie()">Info</button>
        </div>
    </div>
</mat-card>