<div class="search-container">
    <input id="search" type="text" [(ngModel)]="searchTerm" placeholder="Search Games...">
    <button (click)="searchGame()">Search</button>
    <button (click)="resetData()">Reset</button>
</div>
    <div class="row-container">
        <!-- First row -->
        <div class="row">
            <div *ngFor="let game of firstHalfGames" class="element-wrapper">
                <div class="element" (click)="openDialog(game.imdbID,game.Title,game.Released,game.Director,game.Genre,game.Runtime,game.Plot,game.Ratings,game.Poster)">
                    <img class="posters" [src]="game.Poster" alt="{{ game.Title }} poster" />
                    <h2>{{ game.Title }}</h2>
                </div>
            </div>
        </div>
        <!-- Second row -->
        <div class="row">
            <div *ngFor="let game of secondHalfGames" class="element-wrapper">
                <div class="element">
                    <img class="posters" [src]="game.background_image" alt="{{ game.Title }} poster" />
                    <h2>{{ game.Title }}</h2>
                </div>
          </div>
     </div>
</div>

<div class="pagination-buttons">
    <button [disabled]="currentPage === 1" (click)="onPrevPage()">Previous</button>
    <button [disabled]="isLastPage()" (click)="onNextPage()">Next</button>
    <span id="pageNumber">page {{ currentPage }}</span>
</div>