.middle{
    margin-top: 10px;
    background-color: rgba(119, 119, 119, 0.432);
    height: 80vh;
    width: 60vw;
    box-shadow: 0 0 50px rgba(87, 87, 87, 0.685);
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    overflow-y: auto;
}

.container{
    display: flex;
}

.element{
    margin-left: 10px;
    background-color: rgb(160, 135, 167);
    width: 100%;
    height: 120%;
    box-shadow: 0 0 30px rgba(255, 0, 179, 0.685);
    display: flex;
    justify-content: flex-start;
    border-radius: 10px;
    align-items: center;
}

.element-wrapper {
    margin-top: 6vh;
    display: flex;
    align-items: center; /* Tilføjet for at centrere elementerne */
    width: 65%;
    height: 17%;
}

#addtolist{
    --bs-btn-bg: rgb(0, 163, 0); 
    --bs-btn-hover-bg: rgb(0, 94, 0);
}

#Infolist{
    --bs-btn-bg: rgb(105, 105, 105); 
    --bs-btn-hover-bg: rgb(70, 70, 70);
}

button{
    width: 150px;
    height: 40px;
    margin-left: 20px;
}

h1{
    font-size: 10vw;
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-left: 3%;
}

img{
    display: flex;
    width: 10vw;
    height: auto;
    max-height: 12vh;
    border-radius: 10px;
}