<div class="navbarDropdown">
    <a class="nav-link dropdown-toggle" type="button" href="#" id="navbarDropdown" role="button"
       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       <img src="/assets/Login_Icon_Grå.png" alt="Login Icon" width="30" height="30" draggable="false"
       class="d-inline-block align-top">
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" routerLink="/my-profile">My Profile</a>
      <a class="dropdown-item" routerLink="/register">Register</a>
      <a class="dropdown-item" routerLink="/login">Login</a>
    </div>
  </div>

 