
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
}
gallery{
    box-shadow: 0 0 30px rgba(255, 0, 179, 0.685);
    border-radius: 50px;
}

.like-this{
    margin: auto;
    color: white;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
}