<header class="header-nav">
  <div class="form">
    <h2 id="registration">Registration Form</h2>
    <form [formGroup]="reactiveFrom">
      <label for="fname">Username</label>
      <input type="text" id="fname" placeholder="Username..." formControlName="firstname">

      <label for="password">Password</label>
      <input type="password" id="password" placeholder="Your password..." formControlName="password">
  
      <label for="ConfirmPassword">Confirm Password</label>
      <input type="password" id="ConfirmPassword" placeholder="Confirm your password" formControlName="confirmPassword">
      <span *ngIf="reactiveFrom.errors?.['passwordmatcherror']">Password does not match</span>
      <br>
  
      <button [disabled]="reactiveFrom.invalid" type="submit" value="Submit" id="btn" (click)="showSuccess()">Register</button>
      Allready have an account? <a routerLink="/login">Login</a>
    </form>
  </div>
  </header>